
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-flow:column nowrap;
}
#navbar {
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;

}
#header {
    display: flex;
    justify-content: center;
}

