
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-flow:column nowrap;
}
#navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;

}
#header {
    display: flex;
    justify-content: center;
}